*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 80;
    background-size: cover;
    background-image: url("https://images.alphacoders.com/116/1169767.jpg");
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 60px;
}
.nav-bar .heading{
    color: #fff;
    font-size: 67px;
    font-weight: 400;
    cursor: pointer;
}
span{
    color: rgb(249, 159, 5);
}
.nav-bar p{
  position: absolute;
  margin-top: 100px;
  margin-right: 350px; 
  color: #fff;
  font-size: 29px;
  font: family 500px;
  font-weight: bold; 
}
.menu li{
    list-style: none;
    display: inline-block;
}
.menu li a{
   text-decoration: none; 
   color: #fff;
   font-size: 20px;
   margin-left: 22px;
   font-weight: 400;
   transition: 5s;
}
.menu li a:hover{
   color: rgb(235, 148, 34);
    padding: 2px 18px;
    border: 3px solid #fff;

}
.home{
    height: 56px;
    padding: 70px;
}
.title{
    font-size: 50px;
    color: #fff;
    font-weight: 500;
}
.home p{
    color: rgb(242, 169, 66);
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.home button{
    padding: 1px 15px;
    height: 30px;
    border-radius: 8px;
    color: rgb(235, 148, 34);
    background-color: rgb(86, 86, 84);
    font-size: 22px;
    cursor: pointer;
    transition: .4s ease;
    
} 
.home button:hover{
    background: none;
    border: 3px solid #fff;
}
.home-container1{
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/334/460/original/coffee-place-logo-vector.jpg");
    height: 100vh;
    width: 100vw;
}
.home-heading{
    text-align: center;
    font-size: xx-large;
    font-family: Bree Serif;
    margin-top: 15px;
}
.home-image1{
    height: 240px;
    width: 280px;
    margin-left: 30px;
    margin-top: 40px;
}
.home-image2{
    height: 240px;
    width: 280px;
    margin-left: 30px;
    margin-top: 40px;
}
.home-image3{
    height: 240px;
    width: 280px;
    margin-left: 30px;
    margin-top: 40px;
}
.home-image4{
    height: 240px;
    width: 280px;
    margin-left: 30px;
    margin-top: 40px;
}
.product-heading{
    text-align: center;
    background-image: linear-gradient(rgb(221, 150, 221), rgb(168, 221, 168), rgb(154, 154, 211));
    height: 100vh;
    margin-right: 8px;
    margin-left: 4px;
}
.prod1-heading{
    font-size: xx-large;
    margin-top: 15px;
}
.para-prod{
    text-align: center;
    font-size: x-large;
    font-family: Bree Serif;
    margin-top: 15px;
}
.button11{
    text-align: center;
    margin-left: 580px;
    width: 110px;
    height: 34px;
    border-radius: 8px;
    background-color: rgb(247, 247, 148);
}
.button12{
    text-align: center;
    margin-left: 50px;
    width: 110px;
    height: 34px;
    border-radius: 8px;
    background-color: rgb(247, 247, 148);
    margin-top: 20px;
}
.about-heading{
    text-align: center;
    font-size: x-large;
    font-family: Bree Serif;
    background-image: linear-gradient(rgb(211, 96, 211), rgb(136, 224, 136), rgb(133, 133, 221));
    width: 99vw;
    height: 96vh;
    color: #ffffff;
 }
 .contact-container{
    text-align: center;
    font-size: x-large;
    font-family: Bree Serif;
    background-image: linear-gradient(rgb(157, 203, 230), rgb(192, 245, 48), rgb(222, 170, 230));
    width: 100vw;
    height: 100vh;
 }
 
 .icons{
    padding: 20px;
 }
 .face-icon{
    margin-right: 20px;
    height: 40px;
    width: 40px;
 }
 .insta-icon{
    margin-right: 20px;
    height: 40px;
    width: 40px;
 }
 .twitter-icon{
    margin-right: 10px;
    height: 40px;
    width: 40px;
 }
 .whatsapp-icon{
    margin-left: 10px;
    height: 40px;
    width: 40px;
 }
